body {
    background-color: lightgray
}
h1, li {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}
li {
    width: 100;
    border: 2px solid gray;
    background-color: white;
    display: block;
    margin: 1em;
    padding: 1em;
}
